# ========================
# Node.js
# ========================
node_modules/
dist/
coverage/
*.log
npm-debug.log*

# ========================
# Environment
# ========================
.env

# ========================
# Prisma
# ========================
/src/generated/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
